# Introduction to Python

## Declaring Variables

In [1]:
var1 = 2
var2 = 5.0
var3 = True
var4 = "Machine Learning"

In [2]:
print("Value of var1 :", var1)
print("Value of var2 :", var2)
print("Value of var3 :", var3)
print("Value of var4 :", var4)

Value of var1 : 2
Value of var2 : 5.0
Value of var3 : True
Value of var4 : Machine Learning

In [3]:
type( var1 )

int

In [4]:
type( var2 )

float

In [5]:
type(var3)

bool

In [6]:
type(var4)

str

##  Conditional Statements

In [8]:
# Checking a condition if the variable value is more than 1
if var1 > 1:
     print( "Bigger than 1" )

Bigger than 1

In [9]:
x = 10
y = 12
# if x is greater than y
if x > y:
    print ("x > y")
# if x is lesser than y
elif x < y:
    print ("x < y")
else:
    print ("x = y")

x < y

In [10]:
# Initialize
x = 5
# Assign True if x is more than 10 or assign False using ternary operator
isGreater = True if x > 10 else False

In [11]:
isGreater

False

## Generating Sequence Numbers

In [12]:
# Initializing the sequence of numbers starting from 1
# and ending (not including) with 6
numbers = range( 1, 6 )
numbers

range(1, 6)

## Control Flow Statement

In [15]:
# Iterate through the collection
for i in numbers:
    print (i)

1
2
3
4
5

In [16]:
# Initialize the value of 1
i = 1
# check the value of i to check if the loop will be continued or not
while i < 5:
    print(i)
    # Increment the value of i.
    i = i+1
# print after the value of i
print('Done')

1
2
3
4
Done

## Functions

In [19]:
def addElements( a, b ):
    return a + b
result = addElements( 2, 3 )
result

5

In [20]:
result = addElements( 2.3, 4.5 )
result

6.8

In [21]:
result = addElements( "python", "workshop" )
result

'pythonworkshop'

In [22]:
def addElements( a, b = 4 ):
    return a + b

In [23]:
addElements( 2 )

6

In [24]:
addElements( 2, 5 )

7

# Working with Collections

## List

In [25]:
## Create an empty list
emptyList = []

In [26]:
batsmen = ['Rohit', 'Dhawan', 'Kohli', 'Rahane', 'Rayudu', 'Dhoni']

In [27]:
batsmen[0]

'Rohit'

In [28]:
## Slicing an list
batsmen[0:2]

['Rohit', 'Dhawan']

In [29]:
## Accessing the last element
batsmen[-1]

'Dhoni'

In [30]:
# how many elements in the list
len( batsmen )

6

In [31]:
bowlers = ['Bumrah', 'Shami', 'Bhuvi', 'Kuldeep', 'Chahal']

In [32]:
all_players = batsmen + bowlers

In [33]:
all_players

['Rohit',
 'Dhawan',
 'Kohli',
 'Rahane',
 'Rayudu',
 'Dhoni',
 'Bumrah',
 'Shami',
 'Bhuvi',
 'Kuldeep',
 'Chahal']

In [34]:
'Bumrah' in bowlers

True

In [35]:
'Rayudu' in bowlers

False

### Finding the index of an item in the list.

In [36]:
all_players.index( 'Dhoni' )

5

In [37]:
all_players.reverse()
all_players

['Chahal',
 'Kuldeep',
 'Bhuvi',
 'Shami',
 'Bumrah',
 'Dhoni',
 'Rayudu',
 'Rahane',
 'Kohli',
 'Dhawan',
 'Rohit']

##  Tuples

In [38]:
odiDebut = ( 'Kohli', 2008)

In [39]:
odiDebut

('Kohli', 2008)

In [40]:
odiDebut[0]

'Kohli'

In [41]:
tup1[1] = 2009

NameError: name 'tup1' is not defined

In [42]:
players = tuple( all_players )

In [43]:
players

('Chahal',
 'Kuldeep',
 'Bhuvi',
 'Shami',
 'Bumrah',
 'Dhoni',
 'Rayudu',
 'Rahane',
 'Kohli',
 'Dhawan',
 'Rohit')

## Sets

In [44]:
setOfNumbers = {6,1,1,2,4,5}

In [45]:
setOfNumbers

{1, 2, 4, 5, 6}

In [47]:
wc2011 = {"Dhoni", "Sehwag", "Tendulkar", "Gambhir", "Kohli", "Raina", "Yuvraj","Yusuf"}
wc2015 = {"Dhoni", "Dhawan", "Rohit", "Rahane", "Kohli", "Raina", "Rayudu", "Jadeja"}

In [48]:
wc2011.union( wc2015 )

{'Dhawan',
 'Dhoni',
 'Gambhir',
 'Jadeja',
 'Kohli',
 'Rahane',
 'Raina',
 'Rayudu',
 'Rohit',
 'Sehwag',
 'Tendulkar',
 'Yusuf',
 'Yuvraj'}

In [49]:
wc2011.intersection( wc2015 )

{'Dhoni', 'Kohli', 'Raina'}

In [50]:
wc2015.difference( wc2011 )

{'Dhawan', 'Jadeja', 'Rahane', 'Rayudu', 'Rohit'}

## Dictionary

In [51]:
wcWinners = { 1975: "West Indies",
1979: "West Indies",
1983: "India",
1987: "Australia",
1991: "Pakistan",
1996: "Srilanka",
1999: "Australia",
2003: "Australia",
2007: "Australia",
2011: "India"}

In [52]:
wcWinners[1983]

'India'

In [53]:
wcWinners.values()

dict_values(['West Indies', 'West Indies', 'India', 'Australia', 'Pakistan', 'Srilanka', 'Australia', 'Australia', 'Australia', 'India'])

In [54]:
set(wcWinners.values())

{'Australia', 'India', 'Pakistan', 'Srilanka', 'West Indies'}

In [55]:
wcWinners[2015] = 'Australia'

In [56]:
wcWinners

{1975: 'West Indies',
 1979: 'West Indies',
 1983: 'India',
 1987: 'Australia',
 1991: 'Pakistan',
 1996: 'Srilanka',
 1999: 'Australia',
 2003: 'Australia',
 2007: 'Australia',
 2011: 'India',
 2015: 'Australia'}

## Dealing with Strings

In [57]:
string0 = 'python'
string1 = "machine learning"

In [58]:
string2 = """This is a
multiline string"""

In [59]:
# Converting to upper case
string0.upper()
# Similarly string.lower() can be used to convert to lower case.
# string0.lower()

'PYTHON'

In [60]:
tokens = string1.split(' ')
tokens

['machine', 'learning']

## Functional Programming

### Example 1: Map

In [61]:
intList = [1,2,3,4,5,6,7,8,9]

In [65]:
# Create an empty list.
squareList = []
# Loop through the intList, square every item and append to result list squareList.
for x in intList:
    squareList.append( pow( x, 2 ) )
print( squareList )

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [67]:
def square_me( x ):
    return x * x

In [68]:
squareList = map( square_me, intList)

In [69]:
list(squareList)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [70]:
squareList = map(lambda x: x*x, intList)
list(squareList)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### Example 2: Filter

In [71]:
evenInts = filter( lambda x : x % 2 == 0, intList )

In [72]:
list( evenInts )

[2, 4, 6, 8]

## Modules and Packages

In [73]:
import math
## Taking square root of a value
math.sqrt(16)

4.0

In [74]:
from random import sample

In [75]:
sample( range(0, 11), 3)

[8, 9, 3]

## Other Features

In [76]:
import random
randomList = random.sample( range(0, 100), 20)
randomList

[18, 86, 49, 35, 99, 41, 96, 76, 15, 74, 48, 89, 10, 27, 28, 68, 38, 7, 51, 61]

In [77]:
from statistics import mean, median
def getMeanAndMedian( listNum ):
    return mean(listNum), median(listNum)

In [78]:
mean, median = getMeanAndMedian( randomList )

In [79]:
print( "Mean: ", mean, " Median: ", median)

Mean:  50.8  Median:  48.5